- objectives = []
- unless objectives.empty?
  %dt
    %b #{t :target}:
    = objectives.join(" | ")
%dt
  - unless objectives.empty?
    %b #{t :actual}:
  = t(:revenue_number, number_to_currency(campaign.revenue || 0, :precision => 0)) + " | "
  = t('pluralize.opportunity', campaign.opportunities_count || 0)
